<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.emergent-company.diane-serve</string>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mcj/.diane/bin/diane</string>
        <string>serve</string>
        <string>--api-port</string>
        <string>8890</string>
        <string>--callback-host</string>
        <string>127.0.0.1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/mcj/Library/Logs/diane-serve.log</string>
    <key>StandardOutPath</key>
    <string>/Users/mcj/Library/Logs/diane-serve.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/mcj</string>
</dict>
</plist>
